<div class="container">
  <div class="row g-0">
    <div class="col-md-6">
      <h4>Your Name</h4>
      <div class="mb-3">
        <input
        (input)="handleInput($event)"
          type="text"
          class="form-control"
          placeholder="name@example.com"
        />
      </div>
    </div>
    <div class="col-md-6 mt-5 text-center">
      {{name|titlecase}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Your payment date</h4>
      <div class="mb-3">
        <input (input)="handleDate($event)" type="date" class="form-control" />
      </div>
    </div>
    <div class="col-md-6 mt-5 text-center">
      {{date |date:"MMMM d, y"}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Your paid amount</h4>
      <div class="mb-3">
        <input
        (input)="handleAmount($event)"
          type="text"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="20.00"
        />
      </div>
    </div>
    <div *ngIf="salary!=0" class="col-md-6 mt-5 text-center">
      {{salary|currency:'INR'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Miles</h4>
      <div class="mb-3">
        <input
        (input)="handleMiles($event)"
          type="text"
          class="form-control"
          id="floatingInputDisabled"
          placeholder="23.56"
        />
      </div>
    </div>
    <div *ngIf="miles!=0" class="col-md-6 mt-5 text-center">
     <!-- {{miles | convert:'cm' | number:'1.0-2'}} -->
     {{miles | convert:'cm'}}
    </div>
  </div>
</div>
